body {
    background-color: #A8A8A8;
    font-family: 'VT323', monospace;
    margin: 0px;
    height: 100vh;
}

.terminal-header {
    padding: 7px 3px;
    background: #00A8A9;
    box-shadow: 0px 15px #5C5C5C;
}

.terminal-header-text {
    padding: 3px 7px;
    border: #0000AB 2px solid;
    font-size: 1.5rem;
    color: #0000AB;
}

.terminal-page {
    background: #0000AB;
    width: 90%;
    height: 75vh;
    margin: auto;
    box-shadow: 8px 15px #5C5C5C;
    font-size: 1.5rem;
    color: #A8A8A8;
    /* padding: 3px 7px; */
    border: #AAAAAA 2px double;
    position: relative;
}

.terminal-page-container {
    margin: auto;
    padding: 10px;
    height: 85%;
}

.terminal-footer {
    width: 100%;
    font-size: 1.3rem;
    color: #0000AB;
    background-color: #AAAAAA;
    position: absolute;
    bottom: 0%;
}

.wrapper {
    display: flex;
    /* Not necessary for now*/
    /* flex-wrap: wrap; */
}

.wrapper>div {
    flex: 1 1 200px;
    text-align: center;
    font-size: 1.8rem;
    margin: 5px;
    background-color: #00A8A9;
    box-shadow: 8px 15px #5C5C5C;
}

a:visited {
    color: #0000AB;
}