<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

<body>
    <!-- <app-splash-screen></app-splash-screen> -->
    <div class="terminal-header">
        <div class="terminal-header-text">
            <div>
                TCPGraph - V0.1
            </div>
        </div>
    </div>
    <div class="terminal-page">
        <app-console></app-console>
        <span> No preflight-handshake due to sanitary restrictions </span>
    </div>
    <div class="terminal-footer">
        <div class="wrapper">
            <div><a href="#"><b>[Broadcast]</b></a></div>
            <div><a href="#">[Settings]</a></div>
            <div><a href="#">[Encription]</a></div>
            <div><a href="#">[About]</a></div>
        </div>
    </div>
</body>