.striped-transition {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    animation: background-fade 1s ease;
}

@keyframes background-fade {
    0% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #606dbc 10px, #606dbc 20px, #606dbc 20px, #606dbc 30px, #606dbc 30px, #606dbc 40px, #606dbc 40px, #606dbc 50px, #606dbc 50px, #606dbc 60px, #606dbc 60px, #606dbc 70px, #606dbc 70px, #606dbc 80px, #606dbc 80px, #606dbc 90px, #606dbc 90px, #606dbc 100px);
    }
    10% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #606dbc 30px, #606dbc 40px, #606dbc 40px, #606dbc 50px, #606dbc 50px, #606dbc 60px, #606dbc 60px, #606dbc 70px, #606dbc 70px, #606dbc 80px, #606dbc 80px, #606dbc 90px, #606dbc 90px, #606dbc 100px);
    }
    20% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #606dbc 40px, #606dbc 50px, #606dbc 50px, #606dbc 60px, #606dbc 60px, #606dbc 70px, #606dbc 70px, #606dbc 80px, #606dbc 80px, #606dbc 90px, #606dbc 90px, #606dbc 100px);
    }
    30% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #606dbc 40px, #606dbc 50px, #0000AB 50px, #0000AB 60px, #606dbc 60px, #606dbc 70px, #606dbc 70px, #606dbc 80px, #606dbc 80px, #606dbc 90px, #606dbc 90px, #606dbc 100px);
    }
    40% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #606dbc 40px, #606dbc 50px, #0000AB 50px, #0000AB 60px, #606dbc 60px, #606dbc 70px, #0000AB 70px, #0000AB 80px, #606dbc 80px, #606dbc 90px, #606dbc 90px, #606dbc 100px);
    }
    50% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #606dbc 40px, #606dbc 50px, #0000AB 50px, #0000AB 60px, #606dbc 60px, #606dbc 70px, #0000AB 70px, #0000AB 80px, #606dbc 80px, #606dbc 90px, #0000AB 90px, #0000AB 100px);
    }
    60% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #606dbc 40px, #606dbc 50px, #0000AB 50px, #0000AB 60px, #606dbc 60px, #606dbc 70px, #0000AB 70px, #0000AB 80px, #0000AB 80px, #0000AB 90px, #0000AB 90px, #0000AB 100px);
    }
    70% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #606dbc 40px, #606dbc 50px, #0000AB 50px, #0000AB 60px, #0000AB 60px, #0000AB 70px, #0000AB 70px, #0000AB 80px, #0000AB 80px, #0000AB 90px, #0000AB 90px, #0000AB 100px);
    }
    80% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #606dbc 20px, #606dbc 30px, #0000AB 30px, #0000AB 40px, #0000AB 40px, #0000AB 50px, #0000AB 50px, #0000AB 60px, #0000AB 60px, #0000AB 70px, #0000AB 70px, #0000AB 80px, #0000AB 80px, #0000AB 90px, #0000AB 90px, #0000AB 100px);
    }
    90% {
        background: repeating-linear-gradient( #606dbc, #606dbc 10px, #0000AB 10px, #0000AB 20px, #0000AB 20px, #0000AB 30px, #0000AB 30px, #0000AB 40px, #0000AB 40px, #0000AB 50px, #0000AB 50px, #0000AB 60px, #0000AB 60px, #0000AB 70px, #0000AB 70px, #0000AB 80px, #0000AB 80px, #0000AB 90px, #0000AB 90px, #0000AB 100px);
    }
}

;