<app-transition-screen></app-transition-screen>
<div class="terminal-page-container">
    <p>[Broadcast]</p>
    <table>
        <tr>
            <td>
                Network status
            </td>
            <td>:</td>
            <td>
                {{network_status}}
            </td>
        </tr>
        <tr>
            <td>
                Last Message
            </td>
            <td>:</td>
            <td>
                3m ago
            </td>
        </tr>
        <tr>
            <td>
                Username
            </td>
            <td>:</td>
            <td>
                UXC2
            </td>
        </tr>
    </table>
    <br><br> Last message from IC8R:<br> █████████████████████████████
    <br>
    <br> Outgoing: (max. 120 char)<br> █████████████████████████████
    <br>
</div>